
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 right_info">
                    <p><i class="fa fa-map-marker"></i> 10 Praed Street / Abc road Xyz</p>
                </div>
                <div class="col-md-7 col-sm-12 left_info">
                    <ul>
                        <li><i class="fa fa-mobile-alt"></i><a href="#">+123456789 0987</a></li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">Testexample@gmail.com</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="header-main">
        <div class="container">
            <nav id='cssmenu'>
                <div class="logo">
                    <a routerLink="/"><img src="https://i.ibb.co/QDy827D/ak-logo.png"></a>
                </div>
                <div id="head-mobile"></div>
                <div class="button"></div>
                <ul>
                    <li class='active'><a routerLink="/">Home</a></li>
                    <li><a href='#'>Services</a>
                        <ul >
                            <li><a href='#'>Services 1</a></li>
                            <li><a href='#'>Services 2</a>
                                <ul>
                                    <li><a href='#'>Services 21</a></li>
                                </ul>
                            </li>

                            <li><a href='#'>Services 3</a></li>
                            <li><a href='#'>Services 4</a></li>
                        </ul>
                    </li>
                    <li><a href='#'>Reviews</a></li>
                    <li><a>Special Offers</a></li>

                    <ng-container *ngIf="this.auth.isAuthenticated();then authenticated;else notAuthenticated"></ng-container>

                    <ng-template #notAuthenticated>
                        <li class="nav-item"><a href="javascript:void(0);" routerLink="/signup"  class="nav-link" >Register</a></li>
                        <li><a class="nav-link" href="javascript:void(0);" routerLink="/login" >Login</a></li>
                      </ng-template>
                
                      <ng-template #authenticated>
                        <li class="nav-item"><a href="javascript:void(0);" routerLink="/" class="nav-link" >Dashboard</a></li>
                        <li><a class="nav-link" href="javascript:void(0);"  (click)="logout()" >Logout</a></li>
                      </ng-template>

                    




                    <li><a routerLink="/contact">Contact</a></li>
                                    

                </ul>
            </nav>
        </div>
    </div>
</header>
<router-outlet></router-outlet>