<app-navbar></app-navbar>

<!-- registration-form.component.html -->
<form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username"  required>
    </div>
  
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
    </div>
  
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
    </div>
  
    <button type="submit" [disabled]="registrationForm.invalid">Register</button>
  </form>
  <app-footer></app-footer>